html {
  font-size: 62.5%;
}
body {
  width: 980px;
  margin: 10px 10px 10px 10px; /* -------- affichage au centre du navigateur-------*/
}

ul {
  /* Supprimer les marges */
  margin: 0;
  padding: 0;
}


li {
  /* Supprimer le cercle noir en haut de la liste */
  list-style: none;
}
/* la barre d'entete*/
.header {
background-color: #F5B4B3;
  height: 50px;
  font-size: 1.5rem;
}

/* logo DIVE */
.logo_image {
  width: 110px;
  float: left;
  margin: 0;
}
/* dispose le menu à l'extreme gauche */
.top_menu li {
  float: right;
  padding: 15px 18px;
  text-align: center;
}

#texte{
  color: AAAE;
  background: url(../images/TOP.png);
  height: 150px;
  background-size: cover;
}

/* menu à gaucge */
.side_menu{
  padding-top:  10px;
  width: 300px;
  float: left;
}


/* Addendum */
.content{
  width: 400px;
  margin-left:20px;
  float: left;
  font-size: 1.5rem;
}
h1{

  text-align: center;

}

/* lien pour les menus qui sont en haut*/
.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.top_menu li a:hover {
  text-decoration: none;
}

.image_area{
  width: 100%;
}

.side_menu li{
  background-color: #F5B4B3;
  height: 6rem;
  margin-bottom: 10px;
}

#troisieme{

  background-color: #FFA;
}
#monbuton : hover{
  color:red;
  text-decoration:none;
  background-color:black;

}
#madiv2{

  float: right;
  margin-right: 100px;
  position: 150px;
}
#madiv2 input{
  width: 480;
  height: 10px
}

#madiv2 label{
  display: inline-block;
  width: 150px;

}
p{
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
  color:#000;

}


.side_menu li a{
  font-size:2rem;
  color: #fff;
  text-decoration: none;
  display: block;
}

.footer{

   width: 980px;
   height: 60px;
   position: absolute;
   bottom: 0;
   background-color: #4D4D4D;
   display: table;
}
.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
