/* ----information generale  ----*/

html {
  font-size: 62.5%;
}
body {
  background-color: #FFF;
  width: 980px;
  margin: 0 auto;

}
ul { /* -------- affichage au centre du navigateur--
cree de marge gauche et en haut pour le ul -----*/
  /* Supprimer les marges */
  margin: 0;
  padding: 0;
}

li {   /* Supprimer le cercle noir en haut de la liste */

  list-style: none;
}

.header { /* la barre d'entete
 la ou reste le logo de lentreprise*/
background-color: #F5B4B3;
  height: 50px;
  font-size: 1.5rem;
  width: 980px;
  margin-left: 15px;
  margin-top: 15px;

}


.logo_image { /* positionnement du logo mais à gauche*/
  width: 110px;
  float: left;

}
/* dispose le menu à l'extreme gauche */
.top_menu li {
  float: right;
  width: 100px /* remonte le texte en haut*/
  padding:10px; /*espacement entre les mots de header*/

}

.top_menu li a {
  color: #fff;
  text-decoration: none; /* désouligne les lien avec trait*/
  display: block;
  padding: 15px; /*cre de parge à la droi*/
}

#ImageFond{
  color: AAAE;
  background: url(../images/TOP.png);
  height: 100px;
  background-size: cover;
  margin-right: auto;
 width: 100%;
  margin-right: 25px;
  margin-left: 15px;
  padding-left: 10px;
}

h1{
   color: #000;
   padding: 50px 100px;
   text-align: center;
   vertical-align: middle;
   font-size: 1.5em
}

/* menu à gaucge */
/*
.side_menu{
  display: inline-block;
}*/

.side_menu{
  display: inline-block;
}

#section1{
  padding-top:  10px; /* laisse un espace entre
  l'image principale et le menu de gauche*/
  width: 300px;
  float: left;
  margin-left: 15px;
}

.section1 li{
  background-color: #F5B4B3;
  height: 6rem;
  margin-bottom: 5px;
  text-align: center;
}

#troisieme{
  background-color: #FFA;
}

#section2 {
  float: right;
  

/*  td {
  				/ * Pour s'assurer que toutes les étiquettes ont la
           même taille et sont correctement alignées
  				affichage : bloc en ligne;*/
  				width: 500px ;
  				text-align : droite;

}*/

/*#section2 input{
  float: right;

    margin-left:  0,5 em ;
    overflow: hidden;
 / * même taille que les
  elements d'etiquette * /
}*/

#test{
  width: 150px;

}
/*
.monBouton{
  background: #0066A2;

color: white;

border-style: outset;

border-color: #0066A2;

height: 50px;

width: 100px;

font: bold 15px arial, sans-serif;

text-shadow:none;

}*/

/*
.monBouton{
  display: left
  position: absolute;
  left: 400px;
  top: 600px;

  background: #016ABC;

color: #fff;

border: 1px solid #eee;

border-radius: 20px;

box-shadow: 5px 5px 5px #eee;

text-shadow:none;
}*/


}

p{
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
  color:#000;

}




#section1 li a{
  font-size:2rem;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  text-align: left;
}

.footer{


   height: 50px;
   position: absolute;
   bottom: 0;
   background-color: #4D4D4D;
   display: table;
   width: 980px;
   margin-left: 15px;


}
.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
